<div class="auth">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 ">
        <div class="text-center mb-5">
            <img src="https://theme.hstatic.net/200000343865/1000796725/14/image_login.png?v=441" alt="Image"
                height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Register New Account</div>
            <span class="text-600 font-medium line-height-3">Have an account?</span>
            <a routerLink="/login" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Login now!</a>
        </div>

        <div>
            <label for="email1" class="block text-900 font-medium mb-2">Email</label>
            <input id="email1" type="text" pInputText class="w-full mb-3">

            <label for="password1" class="block text-900 font-medium mb-2">Password</label>
            <input id="password1" type="password" pInputText class="w-full mb-3">

            <label for="username" class="block text-900 font-medium mb-2">Name</label>
            <input id="username" type="text" pInputText class="w-full mb-3">



            <div class="flex align-items-center justify-content-between mb-6">
                <div class="flex align-items-center">
                    <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                    <label for="rememberme1" class="text-900">Remember me</label>
                </div>
                <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
            </div>

            <button pButton pRipple label="Register now" icon="pi pi-user" class="w-full"></button>
            <p-divider align="center" type="dashed">
                <b>OR</b>
            </p-divider>
            <div class="flex align-items-center justify-content-between mb-6 mt-3">
                <div class="flex align-items-center">
                    <button pButton  label="Register with google" icon="pi pi-google" class="w-full p-button-danger"></button>
                </div>
                <div class="flex align-items-center">
                    <button pButton  label="Register with github" icon="pi pi-github" class="w-full p-button-secondary"></button>
                </div>
                <div class="flex align-items-center">
                    <button pButton  label="Register with facebook" icon="pi pi-facebook" class="w-full p-button-primary"></button>
                </div>
            </div>
        </div>
    </div>
</div>