.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    .top-header {
        margin: 0;
        max-height: 30px;
        background-color: #a9171d;

        a,
        i,
        marquee {
            color: #fff;
            text-decoration: none;
        }

        .custom-icon {
            transform: rotate(45deg);
            font-weight: bold;
        }
    }

    .header-content {
        height: 130px;
        margin-top: 1px;
        background-color: rgb(241, 237, 237);

        .custom_input {
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .custom_btn {
            border: 1px solid #ccc;
            margin-left: 3px;
        }
    }

    .categories {
        z-index: 999999;
        background-color: #d51c24;
    }

    .cate-content__breacrumb-overlay {
        z-index: 9;

        &--inner {
            position: absolute;
            z-index: 9;
            left: 5rem;
            top: 15rem;
            color: #000;
            font-size: 24px;
            font-weight: bolder;
            margin-top: 80px;
        }

        .imgCategory {
            height: 300px;
            width: 100%;
            margin-top: 40px;
            position: relative;
            top: -9.3rem;
            z-index: 1;
            opacity: 0.8;
        }
    }

    .banner {
        top: -6.7rem;
    }
}