
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    .top-header {
        margin: 0;
        max-height: 30px;
        background-color: #a9171d;

        a,
        i,
        marquee {
            color: #fff;
            text-decoration: none;
        }

        .custom-icon {
            transform: rotate(45deg);
            font-weight: bold;
        }

    }
    .header-content{
        height: 130px;
        margin-top: 1px;
        background-color: rgb(241, 237, 237);
        .custom_input{
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        .custom_btn{
            border: 1px solid #ccc;
            margin-left: 3px;
        }
    }
}