<div class="header">
    <div class="top-header grid gap-5">
        <div class="col-2">
            <div class="social_header flex justify-content-end gap-3">
                <a href="https://www.facebook.com/nxbkimdong" target="_blank" class="fb-icon"><i class="pi pi-facebook"
                        aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/kimdongbooks/" target="_blank" class="ins-icon"><i
                        class="pi pi-instagram" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/user/KimDongPublishingHou" target="_blank" class="yt-icon"><i
                        class="pi pi-youtube" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-4">
            <div class="marquee flex gap-3">
                <div class="marquee_left">
                    <i class="pi pi-wifi custom-icon" aria-hidden="true"></i>
                </div>
                <div class="marquee_right">
                    <marquee behavior="scroll" direction="left">
                        Chào mừng bạn đến với Kim Đồng Book. Nếu bạn cần giúp đỡ, hãy liên
                        hệ với chúng tôi qua hotline: (+84) 1900571595 hoặc email:
                        cskh_online@nxbkimdong.com.vn.
                    </marquee>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="contact flex gap-5 justify-content-center">
                <a href="tel:(+84) 1900571595"><i class="pi pi-phone" aria-hidden="true"></i> (+84) 1900571595</a>
                <a href="mailto:cskh_online@nxbkimdong.com.vn "><i class="pi pi-envelope" aria-hidden="true"></i>
                    cskh_online@nxbkimdong.com.vn
                </a>
            </div>
        </div>
    </div>
    <div class="header-content flex gap-5 align-items-center">
        <div class="col-4">
            <div class="searchbar flex justify-content-center">
                <form #search="ngForm">
                    <input type="text" name="keyword" ngModel required
                        class="form-control outline-none p-2 custom_input" placeholder=" tìm kiếm..." />
                    <button pButton type="button" icon="pi pi-search"
                        class="p-button-rounded p-button-success p-button-text custom_btn"></button>
                </form>
            </div>
        </div>
        <div class="col-4">
            <div class="logo flex justify-content-center">
                <a href=""><img src="https://theme.hstatic.net/200000343865/1000796725/14/logo.png?v=441" alt="" /></a>
            </div>
        </div>
        <div class="col-4">
            <div class="right-content flex justify-content-start gap-4 ml-8">
                <div class="user_logo mt-2">
                    <p-avatar label="P" styleClass="mr-2" [style]="{ 'background-color': '#2196F3', color: '#ffffff' }">
                    </p-avatar>
                </div>
                <div class="user_whishlist mt-3">
                    <i class="pi pi-bell mr-4 p-text-secondary" pBadge style="font-size: 1.3rem" value="2"></i>
                </div>
                <div class="user_cart mt-3">
                    <i class="pi pi-shopping-bag mr-4 p-text-secondary" pBadge style="font-size: 1.3rem" value="2"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner ">
    <a href="">
        <img src="https://theme.hstatic.net/200000343865/1000796725/14/ms_banner_img1.jpg?v=441 " class="w-full h-50" alt="">
    </a>
</div>